
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFileLabel" data-translate="zonesionCloudApplicationApp.file.home.createOrEditLabel">Create or edit a File</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.file.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.file.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.file.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.file.userId"
                    required/>
            <div ng-show="editForm.userId.$invalid">
                <p class="help-block"
                    ng-show="editForm.userId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.userId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.file.uri" for="field_uri">Uri</label>
            <input type="text" class="form-control" name="uri" id="field_uri"
                    ng-model="vm.file.uri"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.uri.$invalid">
                <p class="help-block"
                    ng-show="editForm.uri.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.uri.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.file.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.file.name"
                    required ng-maxlength="1024"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.file.mime" for="field_mime">Mime</label>
            <input type="text" class="form-control" name="mime" id="field_mime"
                    ng-model="vm.file.mime"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.mime.$invalid">
                <p class="help-block"
                    ng-show="editForm.mime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.mime.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.file.size" for="field_size">Size</label>
            <input type="number" class="form-control" name="size" id="field_size"
                    ng-model="vm.file.size"
                    required/>
            <div ng-show="editForm.size.$invalid">
                <p class="help-block"
                    ng-show="editForm.size.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.size.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.file.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.file.status"
                    required ng-maxlength="1"/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1">
                    This field cannot be longer than 1 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
