<div class="es-wrap">
	<div id="content-container" class="container">
		<div class="clearfix course-detail-header">
			<div class="course-header-img ">
				<a>
					<img class="img-responsive" ng-src="{{vm.courseBase.coverPicture}}">
				</a>
			</div>
			<ul class="course-data clearfix">
				<li id="unfavorite-btn" data-toggle="tooltip" data-placement="top"
					title="取消收藏"
					style="display: none;">
					<a href="javascript:;" class="color-primary">
						<p><i class="es-icon es-icon-bookmark"></i></p>
				  </a>
				</li>
				<li id="favorite-btn" uib-tooltip="收藏课程" tooltip-placement="left" >
					<a href="javascript:;">
						<p>
							<i class="es-icon es-icon-bookmarkoutline"></i>
						</p>
				  </a>
				</li>
			</ul>
			<div class="course-header-info">
				<div class="title clearfix">
					<span><a href="/course/6">{{vm.courseBase.title}}</a></span> <span
						class="es-qrcode top"> <i
						class="es-icon es-icon-qrcode"></i> <span class="qrcode-popover">
							<img ng-src="" alt=""> 扫二维码继续学习
					</span>
					<p class="goals">
						<label for="">目标：</label><span >{{vm.courseBase.goals}}</span>
					</p>
					</span>
				</div>
				<div class="content"></div>
				<div class="left-info">
					<div class=" clearfix">
						<p class="">
							<label for="" >课程类型：</label><span class="">{{vm.courseBase.courseType=='0'?'普通课程':'专业课程'}}</span>
						</p>
					</div>
				</div>
				<div class="pull-rights">
					<div class="study clearfix">
						<p class="student-num ">
							<label for="" >学员人数：</label><span class="text-primary">{{vm.courseBase.learnedNum}}人</span>
						</p>
						<a class="btn btn-study"
							ng-click="vm.stateGo('learn',vm.courseBase.learnedStatus)">
							{{vm.courseBase.learnedStatus==1?'继续学习':'加入学习'}} </a>
					</div>
				</div>
			</div>
		</div>
		<div class="course-about clearfix">
			<div class="course-about-main">
				<div class="course-detail">
					<uib-tabset class="tabset-underline-primary">
						<uib-tab heading="{{'zonesionCloudApplicationApp.course.courseOverview'|translate}}" id="courseOverview">
							<div class="course-detail-content">
								<div class="es-piece">
									<div class="piece-header">课程介绍</div>
									<div class="piece-body p-lg">
										<div class="text-muted">{{vm.courseBase.introduction}}暂无课程简介</div>
									</div>
									<p>
										<strong>标签：</strong> <a
											href="/tag/%E7%B3%BB%E7%BB%9F%E8%AE%BE%E7%BD%AE">电子信息</a>
									</p>
								</div>
								<div class="es-piece">
									<div class="piece-header">课时列表</div>
									<div class="piece-body" ng-repeat="chapter in vm.courseInfo.chapters track by $index">
										<ul class="period-list" id="course-item-list">
											<li class="chapter clearfix">
												<i class="es-icon es-icon-toc"></i> <span class="title">第{{chapter.seq}}章：{{chapter.title}}</span>
												<span class="period-show"><i
													class="es-icon es-icon-remove"></i></span>
											</li>
											<li class="section" ng-repeat="unit in chapter.units track by $index">
												<span class="title"> 第{{unit.seq}}节：{{unit.title}} </span>
												<ul>
													<li class="period lesson-item lesson-item-63" ng-repeat="lesson in unit.lessons track by $index" >
														<a ng-click="vm.toLearn(lesson.id)" target="_blank">
															<i class="es-icon es-icon-undone color-primary status-icon" ng-if="lesson.learnedStatus==0"></i>
															<i class="es-icon es-icon-doing color-primary status-icon" ng-if="lesson.learnedStatus==1"></i>
															<i class="es-icon es-icon-done1 status-icon" ng-if="lesson.learnedStatus==2"></i>
															{{lesson.title}}
															<span ng-if="lesson.courseLessonType==2" class="date" title="视频时长{{lesson.mediaLength}}">{{lesson.mediaLength}}</span>
															<span ng-if="lesson.courseLessonType==3" class="date" title="音频时长{{lesson.mediaLength}}">{{lesson.mediaLength}}</span>
															<span class="course-type">
																<i ng-if="lesson.courseLessonType==2" class="es-icon es-icon-videoclass" data-toggle="tooltip" data-placement="top" title="视频课程"></i>
																<i ng-if="lesson.courseLessonType==3" class="es-icon es-icon-audioclass" data-toggle="tooltip" data-placement="top" title="音频课程"></i>
																<i ng-if="lesson.courseLessonType==0" class="es-icon es-icon-graphicclass" data-toggle="tooltip" data-placement="top" title="图文课程"></i>
																<i ng-if="lesson.courseLessonType==1" class="es-icon es-icon-pptclass" data-toggle="tooltip" data-placement="top" title="PPT课程"></i>
															</span>
													</a></li>
												</ul>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</uib-tab>
						<uib-tab heading="{{'zonesionCloudApplicationApp.course.database'|translate}}" ng-if="vm.isAuthenticated">
							<div ng-include="'app/views/courses/database/database.html'"></div>
						</uib-tab>
						<uib-tab heading="{{'zonesionCloudApplicationApp.course.courseReview'|translate}}" id="courseReview">
							<div ng-include="'app/views/courses/reviews/reviews.html'"></div>
						</uib-tab>
						<uib-tab heading="{{'zonesionCloudApplicationApp.course.notes'|translate}}" ng-if="vm.isAuthenticated">
							<div ng-include="'app/views/courses/notes/notes.html'"></div>
						</uib-tab>
					</uib-tabset>
				</div>
			</div>
			<div class="course-about-sidebar">
				<div class="es-panel student-column">
					<div class="panel-heading clearfix">
						最新学员<span class="student-icon"></span>
					</div>
					<div class="panel-body">
						<ul  ng-repeat="user in vm.courseBase.learnedUsers" >
							<li><a class=" js-user-card" >
								<img class="avatar-sm" ng-src="{{user.avatar}}">
							</a></li>
						</ul>
						<div class="no-students" ng-if="!vm.courseBase.learnedUsers">
							暂无学员。
						</div>
					</div>
				</div>

				<div class="es-panel qq-group">
					<div class="panel-heading clearfix">
						qq讨论群<span class="student-icon"></span>
					</div>
					<div class="panel-body">
						<div class="no-students" >
							暂无群信息。
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--   <section class="footer-by">
    <p>Powered by EduSoho v6.6.4 ©2014-2015 课程存档</p>
    <p>课程内容版权均归 杭州阔知网络科技有限公司 所有 浙ICP备13006852号-1</p>
  </section> -->
</div>
<div id="login-modal" class="modal" data-url="/login/ajax"></div>
<div id="modal" class="modal"></div>
