<div class="course-detail" ng-controller="NotesController as vm">
	<div class="note-filter nav-filter clearfix">
  <div class="btn-group" uib-dropdown>
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false">
              {{vm.selectedLesson.id?vm.selectedLesson.title:'全部课时'}}

      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu"   uib-dropdown-menu>
      <li class=""  ng-repeat="lessonData in vm.lessonDatas" ng-class="{'active':lessonData.id==vm.selectedLesson.id||(vm.selectedLesson.id==null&&$index==0)}" ng-click="vm.selectLesson(lessonData)">
          <a >{{lessonData.title}}</a>
        </li>
    </ul>
  </div>
</div>
	<div class="note-list" id="note-list"   ng-repeat="note in vm.allnotes track by $index" >
		<div class="media note-item">
			<div class="media-left">
				<a class=" js-user-card" href="#/user/1"
					data-card-url="#/user/1/card/show" data-user-id="1"> <img
					class="avatar-sm"
					src="{{note.avatar}}">
				</a>

			</div>
			<div class="media-body">
				<div class="content">
					<p>{{note.content}}~</p>
				</div>
				<a href="javascript:;" class="more more-show">[展开全文]</a>
				<div class="metas clearfix">
					<a class="link-light name" href="#/user/{{note.userId}}">{{note.lastModifiedBy}}</a> · <span>{{note.lastModifiedDate}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="text-right" ng-if="vm.allreviews.length!=0">
		<uib-pagination total-items="vm.totalCount" ng-model="vm.currentPage" items-per-page="vm.pageSize"
		 first-text="首页"
		 previous-text="上一页" next-text="下一页" last-text="尾页"
			boundary-links="true" boundary-link-numbers="true" ng-change="vm.loadNotes()"></uib-pagination>
	</div>
	<div class="empty ng-scope" ng-if="vm.allnotes ==null">暂无笔记</div>
</div>
