<div class="course-detail" ng-controller="NotesController as vm">
	<div class="note-filter nav-filter clearfix">
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              全部课时

      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
     <li class="active">
        <a href="#/join/{{vm.allnotes[0].courseId}}/notes">全部课时</a>
      </li>
      <li class="" ng-repeat="note in vm.allnotes" ng-if="note.courseLessonId!=0" >
          <a ui-sref="join.notes.lessonId({courseLessonId:note.courseLessonId})" href="#/join/{{note.courseId}}/notes/lessonId={{note.courseLessonId}}" title="{{note.title}}">{{note.title}}</a>
        </li>
    </ul>
  </div>
</div>
	<div class="note-list" id="note-list"   ng-repeat="note in vm.allnotes track by $index" >
		<div class="media note-item">
			<div class="media-left">
				<a class=" js-user-card" href="#/user/1"
					data-card-url="#/user/1/card/show" data-user-id="1"> <img
					class="avatar-sm"
					src="{{note.avatar}}">
				</a>

			</div>
			<div class="media-body">
				<div class="content">
					<p>{{note.content}}~</p>
				</div>
				<a href="javascript:;" class="more more-show">[展开全文]</a>
				<div class="metas clearfix">
					<a class="link-light name" href="#/user/{{note.userId}}">{{note.lastModifiedBy}}</a> · <span>{{note.lastModifiedDate}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="empty ng-scope" ng-if="vm.allnotes ==null">暂无笔记</div>
</div>
