
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myChapterLabel" data-translate="zonesionCloudApplicationApp.chapter.home.createOrEditLabel">Create or edit a Chapter</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.chapter.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.chapter.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.chapter.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.chapter.userId"
                    required/>
            <div ng-show="editForm.userId.$invalid">
                <p class="help-block"
                    ng-show="editForm.userId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.userId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.chapter.chapterType" for="field_chapterType">Chapter Type</label>
            <input type="text" class="form-control" name="chapterType" id="field_chapterType"
                    ng-model="vm.chapter.chapterType"
                    required ng-maxlength="1"/>
            <div ng-show="editForm.chapterType.$invalid">
                <p class="help-block"
                    ng-show="editForm.chapterType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.chapterType.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1">
                    This field cannot be longer than 1 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.chapter.number" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                    ng-model="vm.chapter.number"
                    required ng-maxlength="1"/>
            <div ng-show="editForm.number.$invalid">
                <p class="help-block"
                    ng-show="editForm.number.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.number.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1">
                    This field cannot be longer than 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.number.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.chapter.seq" for="field_seq">Seq</label>
            <input type="number" class="form-control" name="seq" id="field_seq"
                    ng-model="vm.chapter.seq"
                    required ng-maxlength="1"/>
            <div ng-show="editForm.seq.$invalid">
                <p class="help-block"
                    ng-show="editForm.seq.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.seq.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1">
                    This field cannot be longer than 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.seq.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="zonesionCloudApplicationApp.chapter.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.chapter.title"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>

        <div ng-show="editForm.courseLesson.$invalid">
            <p class="help-block"
                ng-show="editForm.courseLesson.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="zonesionCloudApplicationApp.chapter.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" ng-model="vm.chapter.course" ng-options="Course as Course.title for Course in vm.courses track by Course.id" required>
            </select>
        </div>
        <div ng-show="editForm.course.$invalid">
            <p class="help-block"
                ng-show="editForm.course.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
