<div class="es-wrap" ng-controller="DatabaseController as vm">
<div class="media-list course-detail" >
	<div class="media" ng-repeat="attachement in vm.attachements track by $index">
		<div class="media-body">
			<div class="mbs">
		<a href="{{attachement.fileUri}}" download="{{attachement.title}}">{{attachement.title}}</a>
			</div>
			<div class="text-muted text-sm mbs">
				{{attachement.description}}
			</div>
			<div class="text-sm">
				<span class="text-muted">{{attachement.fileSize}}</span>
				<span class="bullet">•</span>
				<span class="text-muted">上传于{{attachement.createdDate}}</span>
			</div>
	    </div>
	  </div>
		<div class="text-right" ng-if="vm.attachements.length!=0">
			<uib-pagination total-items="vm.totalCount" ng-model="vm.currentPage" items-per-page="vm.pageSize"
			 first-text="首页"
			 previous-text="上一页" next-text="下一页" last-text="尾页"
				boundary-links="true" boundary-link-numbers="true" ng-change="vm.getAttachements()"></uib-pagination>
		</div>

	</div>
	<div class="empty" ng-if="vm.attachements.length==0">暂无资料</div>
</div>
