<ul class="media-list" ng-controller="DatabaseController as vm">
	<li class="media" ng-repeat="attachement in vm.attachements track by $index">
		<div class="media-body">
			<div class="mbs">
				<a href="/course/6/material/2/download" target="_blank">{{attachement.title}}</a>
			</div>
			<div class="text-muted text-sm mbs">
				{{attachement.description}}
			</div>
			<div class="text-sm">
				<span class="text-muted">{{attachement.fileSize}}</span>
				<span class="bullet">•</span>
				<span class="text-muted">上传于2015-10-10</span>
			</div>
	    </div>
	  </li>
		<div class="empty" ng-if="vm.allreviews==null">暂无资料</div>
	</ul>
