<div class="course-detail-content" data-widget-cid="widget-1"
	data-ui-view="">
	<div class="es-piece">
		<div class="piece-header">课程介绍</div>
		<div class="piece-body p-lg">
			<div class="text-muted">{{vm.courses.introduction}}暂无课程简介</div>
		</div>
	</div>
	<div class="es-piece">
		<div class="piece-header">课时列表</div>
		<div class="piece-body" ng-repeat="courses in vm.allcourses">
			<ul class="period-list" id="course-item-list">
				<li class="chapter clearfix" ng-if="courses.chapterType == 0">
					<i class="es-icon es-icon-toc"></i> <span class="title">第{{courses.chapterNumber}}章：{{courses.chapterTitle}}</span>
					<span class="period-show"><i class="es-icon es-icon-remove"></i></span>
				</li>
				<li class="section" ng-if="courses.chapterType == 1"><span
					class="title"> 第{{courses.chapterSeq}}节：
						{{courses.chapterTitle}} </span></li>
				<li class="period lesson-item lesson-item-63"
					ng-if="courses.courseLessonTitle != null"><a
					href="/course/6/learn#lesson/63"> <i
						class="es-icon es-icon-done1 color-primary status-icon"></i>
						{{courses.courseLessonTitle}} <span class="date" title="视频时长01:19">01:19</span>
						<span class="course-type"> <i
							class="es-icon es-icon-videoclass" data-toggle="tooltip"
							data-placement="top" title="视频课程"></i>
					</span>
				</a></li>
			</ul>
		</div>
	</div>

</div>
