<div class="panel panel-default panel-col">
	<div class="panel-heading">基本信息</div>
	<div class="panel-body">
		<form class="form-horizontal" id="course-form" method="put" novalidate="novalidate" data-widget-cid="widget-1" ng-submit="vm.save()">
			<div class="form-group">
				<label class="col-md-2 control-label">标题</label>
				<div class="col-md-8 controls">
					<input type="text" id="course_title" name="title" ng-model="vm.course.title" required="required" class="form-control" data-widget-cid="widget-2" data-explain>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">副标题</label>
				<div class="col-md-8 controls">
					<input type="text" id="course_subtitle" name="subtitle" ng-model="vm.course.subTitle" class="form-control" data-widget-cid="widget-3" data-explain>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">标签</label>
				<div class="col-md-8 controls">
					<div class="col-xs-12 pln prn filter-content mbl"
	isteven-multi-select
	input-model="filterInfo.inputList"
	output-model="outputData[$index]"
	button-label="val"
	item-label="val"
	search-property="val"
	tick-property="selected"
	max-labels="4"
	disable-button="pageFilter"
	min-search-length="1"
	on-open="funcOpen($index)"
	on-close="funcClose($index)"
	helper-elements="{{helperElements}}"
	selection-mode="{{config.filter.mode}}"
	translation="localLang"
	on-item-click="changeSelect(filterInfo)"
	on-select-all="changeSelect(filterInfo)"
	on-select-none="changeSelect(filterInfo)"
	on-reset="changeSelect(filterInfo)"
>
</div>
					<!-- <input type="text" id="course_tags" name="tags" ng-model="vm.course.tags" class="width-full select2-offscreen" data-widget-cid="widget-3" data-explain> -->
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-8 controls">
					<button class="btn btn-fat btn-primary" id="course-create-btn" type="submit">保存</button>
				</div>
			</div>
		</form>
	</div>
</div>
