<div class="panel panel-default panel-col">
	<div class="panel-heading">详细信息</div>
	<div class="panel-body">
		<form class="form-horizontal" id="course-form" method="put" novalidate="novalidate" data-widget-cid="widget-1" ng-submit="vm.save()">
			<div class="form-group">
				<label class="col-md-2 control-label">课程简介</label>
				<div class="col-md-8 controls">
					<textarea name=about rows="10" cols="" ckeditor="editorOptions" class="form-control" aria-invalid="false" aria-multiline="true" style="visibility:hidden;display:none;" ng-model="vm.course.introduction"></textarea>
				</div>
			</div>
			
			<div class="form-group dynamic-collection" id="course-goals-form-group">
	        	<div class="col-md-2 control-label"><label>课程目标</label></div>
	        	<div class="col-md-8 controls">
	          		<ul class="list-group sortable-list" data-role="list" style="margin-bottom:10px;display:none;"></ul>
	          		<div class="input-group">
	            		<input id="teacher-input" type="text" data-role="item-input" class="form-control" ng-model="vm.course.goals">
	            		<span class="input-group-btn">
	              		<button class="btn btn-default" type="button" data-role="item-add" >添加</button>
	            		</span>
	          		</div>
	
	          		<script type="text/plain" data-role="model">[]</script>
	          		<script type="text/x-handlebars-template" data-role="item-template">
            
              		<li class="list-group-item clearfix" data-role="item">
                	<span class="glyphicon glyphicon-resize-vertical sort-handle"></span>
                	{{ this }}
                	<input type="hidden" name="goals[]" value="{{ this }}">
                	<button class="close delete-btn" data-role="item-delete" type="button" title="删除">&times;</button>
              		</li>
          	  		</script>
	        	</div>
	      	</div>
			
			<div class="form-group">
		        <div class="col-md-8 col-md-offset-2 controls">
		            <button class="btn btn-fat btn-primary" id="course-create-btn" type="submit">保存</button>
		        </div>
		    </div>
		</form>
	</div>
</div>