<div style="margin-top:-30px">
	<div id="content-container">
		<div class="es-section course-manage-header clearfix">
			<a><img class="picture" ng-src="{{vm.course.coverPicture}}"/></a>
			<h1 class="title"><a>{{vm.course.title}}</a><span class="label label-warning">{{vm.course.status}}</span></h1>
			<div class="teachers">教师<a href="">{{vm.course.userName}}</a></div>
			<div class="toolbar hidden-xs">
				<div class="btn-group">
					<button class="btn btn-default btn-sm dropdown-toggle" ng-click="vm.stateGo('courses')">预览</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-success btn-sm course-publish-btn" data-url="/course/22/manage/publish">发布课程</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="sidenav locked">
					<ul class="list-group">
						<li class="list-group-heading" ui-sref-active="active">课程信息</li>
						<li class="list-group-item" ui-sref-active="active"><a ui-sref="course-management-edit-base({id:vm.course.id})" ng-click="vm.collapseNavbar()">基本信息</a></li>
						<li class="list-group-item" ui-sref-active="active"><a ui-sref="course-management-edit-detail({id:vm.course.id})" ng-click="vm.collapseNavbar()">详细信息</a></li>
						<li class="list-group-item" ui-sref-active="active"><a ui-sref="course-management-edit-picture({id:vm.course.id})" ng-click="vm.collapseNavbar()">课程图片</a></li>
						<li class="list-group-item" ui-sref-active="active"><a ui-sref="course-management-edit-lesson({id:vm.course.id})" ng-click="vm.collapseNavbar()">课时管理</a></li>
						<li class="list-group-item" ui-sref-active="active"><a ui-sref="course-management-edit-files({id:vm.course.id})" ng-click="vm.collapseNavbar()">文件管理</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9" ui-view="courseEdit">
				<!-- Angular view -->
			</div>
		</div>
	</div>
</div>
