<div id="content-container" class="container">
		<div class="es-section userpage-header">
			<div class="media">
				<div class="media-left">
					<div class="avatar-bg">
						<img class="avatar-lg"
							ng-src="{{vm.userAccount.avatar}}">
						<span class="icon-user-status icon-md"><i
							class="es-icon es-icon-school"></i></span>
					</div>
				</div>
				<div class="media-body">
					<h2>
						{{vm.userAccount.name}} <small>{{vm.userAccount.login}}</small>
					</h2>
					<div class="about">
						<p>{{vm.userAccount.school}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="es-section">
			<ul class="nav nav-tabs clearfix">
				<li ng-class="{'active':vm.activeTab==1}"><a ng-click='vm.activeTab=1;vm.getCourseLearning()'>在学课程</a></li>
				<li ng-class="{'active':vm.activeTab==2}"><a ng-click='vm.activeTab=2;vm.getCourseFavorite()'>收藏课程</a></li>
			</ul>

			<div ng-show='vm.activeTab==1' class="clearfix">
                <ul class="course-wide-list" ng-repeat="userLearning in vm.userLearning">
                    <li class="course-item clearfix ">
                        <a class="course-picture-link" ng-click="vm.toCourse(userLearning.id)">
                            <img class="course-picture" ng-src="{{userLearning.coverPicture}}" alt="{{userLearning.title}}">
                        </a>
                        <div class="course-body">

                            <div style="float: right;" class="text-muted mrm mls"></div>

                            <h4 class="course-title">
                                <a ng-click="vm.toCourse(userLearning.id)">{{userLearning.title}}</a>
                            </h4>

                            <div class="course-about ellipsis">{{userLearning.introduction}}</div>

                            <div class="course-footer clearfix">
                                <div class="teacher">
                                    <a href="/user/1">
                                    <img ng-src="{{userLearning.avatar}}" class="teacher-avatar"></a>
                                    <a class="teacher-nickname ellipsis" href="/user/1">{{userLearning.login}}</a>
                                    <span class="teacher-title ellipsis">{{userLearning.tags}}</span>
                                </div>
                                <div class="course-metas">
                                    <span class="text-muted mlm mrs"><strong>{{userLearning.lessonNum}}</strong>课时</span>
                                    <span class="divider"></span>
                                    <span class="text-muted mrm mls"><strong>{{userLearning.learnedNum}}</strong>学员</span>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
                <nav class="pull-right">
                    <uib-pagination total-items="vm.totalCount" ng-model="vm.currentPage" items-per-page="vm.pageSize"
                                    first-text="首页"
                                    previous-text="上一页" next-text="下一页" last-text="尾页"
                                    boundary-links="true" boundary-link-numbers="true" ng-change="vm.getCourseLearning()"></uib-pagination>
                </nav>
                <div ng-show="" class="empty">无在学课程</div>
			</div>
			<div ng-show='vm.activeTab==2' class="clearfix">
                <ul class="course-wide-list" ng-repeat="userLearning in vm.userLearning">
                    <li class="course-item clearfix ">
                        <a class="course-picture-link" ng-click="vm.toCourse(userLearning.id)">
                            <img class="course-picture" ng-src="{{userLearning.coverPicture}}" alt="{{userLearning.title}}">
                        </a>
                        <div class="course-body">

                            <div style="float: right;" class="text-muted mrm mls"></div>

                            <h4 class="course-title">
                                <a ng-click="vm.toCourse(userLearning.id)">{{userLearning.title}}</a>
                            </h4>

                            <div class="course-about ellipsis">{{userLearning.introduction}}</div>

                            <div class="course-footer clearfix">
                                <div class="teacher">
                                    <a ng-href="user/{{userLearning.userId}}">
                                        <img ng-src="{{userLearning.avatar}}" class="teacher-avatar"></a>
                                    <a class="teacher-nickname ellipsis" ng-href="user/{{userLearning.userId}}">{{userLearning.login}}</a>
                                    <span class="teacher-title ellipsis">{{userLearning.tags}}</span>
                                </div>
                                <div class="course-metas">
                                    <span>{{userLearning.lessonNum}}</span><span class="divider"></span>
                                    <span class="text-muted mrm mls"><strong>{{userLearning.learnedNum}}</strong>学员</span>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
                <nav class="pull-right">
                    <uib-pagination total-items="vm.totalCount" ng-model="vm.currentPage" items-per-page="vm.pageSize"
                                    first-text="首页"
                                    previous-text="上一页" next-text="下一页" last-text="尾页"
                                    boundary-links="true" boundary-link-numbers="true" ng-change="vm.getCourseLearning()"></uib-pagination>
                </nav>
                <div ng-show="" class="empty">收藏课程</div>
			</div>

		</div>

</div>
