<section class="es-poster swiper-container">
    <div>
        <ul>
            <li><img src="content/images/01.jpg" width="100%" height="500" alt="1"/></li>
            <li><img src="content/images/02.png" width="100%" height="500" alt="2"/></li>
            <li><img src="content/images/03.png" width="100%" height="500" alt="3"/></li>
            <li><img src="content/images/04.jpg" width="100%" height="500" alt="4"/></li>
         </ul>
         <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
         </ol>
    </div>
</section>

<section class="es-section section-gray" id="course-list">
	<div class="container" style="width:94%;">
		<div class="course-filter section-header" id="course-filter">
			推荐课程
      <div class="btn-group course-sort" data-toggle="buttons">
        <label class="btn btn-default outline-none" ng-class="{'active':vm.courseType=='recommended'}" ng-click="vm.getCourseList('recommended')">
          <input type="radio" name="options" id="recommend"  autocomplete="off" checked> 推荐
        </label>
        <label class="btn btn-default outline-none" ng-class="{'active':vm.courseType=='newest'}" ng-click="vm.getCourseList('newest')">
          <input type="radio" name="options" id="new"  autocomplete="off"> 最新
        </label>
        <label class="btn btn-default outline-none" ng-class="{'active':vm.courseType=='hot'}" ng-click="vm.getCourseList('hot')">
          <input type="radio" name="options" id="hot"  autocomplete="off"> 最热
        </label>
      </div>
		</div>
		<div class="section-bodyer">
			<div class="home-course-list row">
				<div class="col-md-4 col-sm-6" ng-repeat="course in vm.courses">
					<div class="course-item" ng-click="vm.toCourse(course.id)">
						<div class="course-img">
		          			<a ><img class="img-responsive" ng-src="{{course.coverPicture}}" alt=""/></a>
						</div>
			          	<div class="course-caption">
			            	<div class="title">
			            		<a >{{course.title}}</a>
			            	</div>
			            	<div class="metas clearfix">
				                <span class="teacher-name">
				                    <i class="es-icon iconfont"></i>
				                    {{course.userName}}
				                </span>
				                <span class="student-mun">
				                    <i class="es-icon es-icon-people mrm"></i>
				                    {{course.courseReviewId}}
				                </span>
				                <!--<a href="#" class="Gratiss">免费</a>-->
			            	</div>
			          	</div>
					</div>
		        </div>
			</div>
			<div class="text-center mvl">
				<a href="#/courses/explore" class="btn btn-gylight btn-md">更多 ></a>
			</div>
		</div>
	</div>
</section>
