<div class="panel panel-default panel-col lesson-manage-panel">
	<div class="panel-heading">
		<div class="pull-right">
			<div class="btn-group">
				<button type="button" class="btn btn-sm btn-success dropdown-toggle" ng-click="vm.openModal('章')">
					添加章
				</button>
			</div>
		</div>
		课时管理
	</div>
	<div class="panel-body">
		<form class="form-horizontal" id="course-form" method="post" novalidate="novalidate" data-widget-cid="widget-1">
			<ul class="lesson-list sortable-list pbm" id="course-item-list" ng-repeat="testData in  vm.testData track by $index">
				<li class="item-chapter  clearfix" style="word-break: break-all;" >
					<div class="item-content">
					{{testData.name}}
					</div>
					<div class="item-actions prs">
						<div class="btn-group">
							<button class="btn btn-link dropdown-toggle">
								<i class="glyphicon glyphicon-plus-sign"></i>
							</button>
						</div>
						<button class="btn btn-link" title="编辑">
							<i class="glyphicon glyphicon-edit"></i>
						</button>
						<button class="btn btn-link delete-chapter-btn">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</div>
					<!--节  -->
					<li class="item-chapter item-chapter-unit clearfix" id="chapter-30" style="word-break: break-all;" ng-repeat="unit in  testData.unit track by $index"  >
						<div class="item-content">
							{{unit.name}}
						</div>
						<div class="item-actions prs">
							<div class="btn-group">
							<button class="btn btn-link dropdown-toggle" ><i class="glyphicon glyphicon-plus-sign"></i></button>
							</div>
							<button class="btn btn-link" ><i class="glyphicon glyphicon-edit"></i></button>
							<button class="btn btn-link delete-chapter-btn"><i class="glyphicon glyphicon-trash"></i></button>
						</div>
						<!-- 课时 -->
							<li class="item-lesson clearfix"  style="word-break: break-all;"  >
			  					<div class="item-line"></div>
								<div class="item-content">
			               			<i class="fa fa-file-video-o text-success"></i>
			           				{{unit.name}}
			     				</div>
				  				<div class="item-actions">
				    				<a class="btn btn-link" >
				            			<span class="es-icon es-icon-edit prs"></span>编辑
				            		</a>
				          			<a class="btn btn-link"  target="_blank">
				          				<span class="es-icon es-icon-visibility prs"></span>预览
				          			</a>
				        			<span class="dropdown">
				      					<a class="dropdown-toggle dropdown-more" id="dropdown-more" data-toggle="dropdown" href="#">
				      						<i class="es-icon es-icon-keyboardarrowdown" style="margin-right:3px" aria-haspopup="true" aria-expanded="false"></i>更多
				      					</a>
				      					<ul class="dropdown-menu pull-right dropdown-menu-more" role="menu" style="margin-top:12px;min-width:144px" aria-labelledby="dLabel" style="display:none;">
				                  			<li>
				                  				<a href="javascript:;" data-toggle="modal" data-target="#modal" data-url="/course/6/manage/lesson/63/material">
				                  					<span class="glyphicon glyphicon-paperclip prs"></span>添加资料
				                  				</a>
				                  			</li>
				          					<li class="divider"></li>
									        <li class="hidden ">
									          <a href="javascript:;" class="publish-lesson-btn" data-url="/course/6/manage/lesson/63/publish">
									            <span class="glyphicon glyphicon-ok-circle prs"></span>发布
									          </a>
									        </li>
									        <li class="">
									          <a href="javascript:;" class="unpublish-lesson-btn" data-url="/course/6/manage/lesson/63/unpublish">
									            <span class="glyphicon glyphicon-remove-circle prs"></span>取消发布
									          </a>
									        </li>
									        <li class="hidden ">
									          <a href="javascript:;" class="delete-lesson-btn" data-url="/course/6/manage/lesson/63/delete">
									            <span class="glyphicon glyphicon-trash prs"></span>删除
									          </a>
									        </li>
									    </ul>
									</span>
				  				</div>
							</li>
						<!-- </ul> -->
					</li>
				</li>
			</ul>
		</form>
	</div>
</div>
