<div style="margin-top:-30px">
	<div id="content-container">
		<div class="row row-3-9">
			<div class="col-md-3">
				<div class="sidenav">
					<ul class="list-group" ng-repeat="sidenavInfo in vm.sidenavInfo track by $index">
						<li ng-if="$index==0" class="list-group-heading">{{sidenavInfo.title}}</li>
						<li  ng-if="$index!=0" class="list-group-item"
						 ng-class="{'active':sidenavInfo.active}" >
							<a ui-sref="course-management-list({courseType:0,courseSource:$index-1})" ng-click="vm.selectItem($index)">{{sidenavInfo.title}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default panel-col lesson-manage-panel" ui-view="courseManagementSub">
					<!-- Angular views -->
				</div>
			</div>
		</div>
	</div>
</div>
