<div style="margin-top:-30px">
	<div id="content-container">
		<div class="row row-3-9">
			<div class="col-md-3">
				<div class="sidenav">
					<ul class="list-group" has-authority="ROLE_ADMIN">
						<li class="list-group-heading">课程管理</li>
						<li class="list-group-item" ui-sref-active="active">
							<a ui-sref="course-management-self-list" ng-click="vm.collapseNavbar()">自有课程</a>
						</li>
						<li class="list-group-item" ui-sref-active="active">
							<a ui-sref="course-management-other-list" ng-click="vm.collapseNavbar()">其他课程</a>
						</li>
					</ul>
					<ul class="list-group" has-authority="ROLE_TEACHER">
						<li class="list-group-heading">我的教学</li>
						<li class="list-group-item active">
							<a href="/my/courses/teaching">在教课程</a>
						</li>
					</ul>
					<ul class="list-group" has-authority="ROLE_STUDENT">
						<li class="list-group-heading">我的学习</li>
						<li class="list-group-item">
							<a href="/my/courses/learning">我的课程</a>
						</li>
						<li class="list-group-item">
							<a href="/my/courses/questions">我的问答</a>
						</li>
						<li class="list-group-item">
							<a href="/my/courses/notebooks">我的笔记</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default panel-col lesson-manage-panel" ui-view="course-management-sub">
					<!-- Angular views -->
				</div>
			</div>
		</div>
	</div>
</div>