<div class="es-wrap">
	<div class="es-banner">
		<div class="container">
			<div class="title inline-block">
				<i class="es-icon es-icon-viewcomfy"></i> 课程列表
			</div>
			<form class="form-inline inline-block pull-right">
				<div class="form-group">
					<label class="sr-only" for="exampleInputAmount"></label>
					<div class="input-group">
						<input type="text" class="form-control" id="exampleInputAmount" ng-model="vm.query" placeholder="搜索课程">
						<div class="input-group-addon" ng-click="vm.loadExplore()"><span class="icon-search"></span></div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="content-container" class="container">
		<div class="course-list  explore" ng-repeat="course in vm.allcourses">
			<div class="course-item clearfix" ng-click="vm.stateGo('courses',course.id)">
				<div class="course-img">
					<a><img ng-src="{{course.coverPicture}}"></a>
				</div>
				<div class="course-info ">
					<div class="title">
						<a > {{course.title}} </a>
					</div>
					<div class="content">{{course.introduction}}</div>
					<div class="metas">
						<span class="student-mun">已有<span>{{course.countUserId}}</span>人学习
						</span> <span class="star-5"></span>
					</div>
				</div>
				<div class="course-teacher">
					<div class="avatar">
						<img ng-src="{{course.userAvatar}}">
					</div>
					<div class="teacher-name">
						<a>{{course.userName}}</a>
					</div>
					<div class="teacher-position hidden-sm">{{course.userSchool}}</div>
				</div>
			</div>
		</div>
		<uib-pagination class="pull-right"
            total-items="vm.totalCount"
            ng-model="vm.currentPage"
            max-size="vm.pageSize"
            force-ellipses="true">
    </uib-pagination>
	</div>

</div>
