<div class="panel-heading">
	<span class="pull-right">
		<a ui-sref="course-management-create({courseType:vm.courseType,courseSource:vm.courseSource})" class="btn btn-info btn-sm" ng-click="vm.collapseNavbar()">
			<span class="glyphicon glyphicon-plus"></span>
			创建课程
		</a>
	</span>
	{{vm.headTitle}}
</div>
<div class="panel-body">
	<ul class="nav nav-tabs">
		<li ng-repeat="courseTab in vm.courseTabs" ng-class="{'active':courseTab.active}"><a  ng-click="vm.selectItem($index)">{{courseTab.name}}</a></li>
	</ul>
	<br>
	<table class="table table-striped table-hover" id="course-table" style="word-break:break-all;">
		<thead>
			<tr>
				<th>名称</th>
				<th>课时数</th>
				<th>学员数</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="course in vm.courses">
				<td>
					<a class="pull-left mrm" ui-sref="courses({id:course.id,countUser:course.countUserId})">
						<img class="course-picture" ng-src="{{course.coverPicture}}" alt="" width="100"/>
					</a>
					<div class="mlm">
						<a ui-sref="courses({id:course.id,countUser:course.countUserId})">{{course.title}}</a>
					</div>
				</td>
				<td>{{course.lessonNum}}</td>
				<td>{{course.countUserId}}</td>
				<td><span class="text-muted">{{vm.statesObj[course.status]}}</span></td>
				<td>
					<div class="btn-group">
						<a class="btn btn-default btn-sm" ui-sref="course-management-edit-base({id:course.id})" ng-click="vm.collapseNavbar()">管理</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<nav class="pull-right">
		<uib-pagination total-items="vm.totalCount" ng-model="vm.currentPage" items-per-page="vm.pageSize"
		 first-text="首页"
		 previous-text="上一页" next-text="下一页" last-text="尾页"
		  boundary-links="true" boundary-link-numbers="true" ng-change="vm.loadAll()"></uib-pagination>
	</nav>
</div>
