<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">×</button>
      <h4 class="modal-title">添加资料</h4>
    </div>
    <div class="modal-body">
      <form id="course-material-form" class="form-horizontal"  method="post">
        <div class="form-group">
          <div class="col-md-10 col-md-offset-1  controls">
            <ul class="list-group" id="material-list">
              <li class="list-group-item clearfix">
                <button class="close delete-btn" type="button" title="删除" data-url="/course/26/manage/lesson/117/material/27/delete">×</button>
                <a href="http://www.baidu.com" target="_blank">http://www.baidu.com</a>
                <span class="glyphicon glyphicon-new-window text-muted text-sm" title="网络链接资料"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="file-chooser-main">
          <div class="tab-content">
            <div class="tab-pane active" id="file-chooser-upload-pane">

              <div ng-if="vm.showUploadFile" flow-init="vm.flowInitOptions" 
                      flow-error="vm.flowError( $file, $message, $flow )" flow-file-success="vm.flowFileSuccess( $file, $message, $flow )"
                      flow-file-error="vm.flowFileError( $file, $message, $flow )" class="ng-scope">
                      <div class="flow-drop text-center" flow-drop ng-class="flowDropClass">
                        <span class="btn btn-default btn-sm" flow-btn="" id="flow-file-add-btn85">
                          <i class="fa fa-upload mrs"></i> <span >选择文件</span>
                          <input type="file" multiple="multiple" class="hide">
                        </span>
                        <b><span >或</span></b>
                        <span><span >拖拽一个文件到此处.</span></span>
                      </div>
                      <div class="pts pbs" id="datasource-excel-extenstion-error66" ng-class="{'text-danger':vm.extenstionError}">
                        <span >支持文件格式：</span> {{vm.acceptExtensions}}.
                      </div>
                      <div ng-repeat="file in $flow.files" class="transfer-box">
                        <div class="row mbs">
                          <div class="col-sm-5">
                            {{file.name}} ({{file.size}}bytes)
                          </div>
                          <div class="btn-group col-sm-7">
                            <button id="flow-btn80" class="btn btn-xs btn-danger pull-right" ng-click="file.cancel()" ng-show="!file.isComplete()">
                              <span translate="buttons.cancel">Cancel</span>
                            </button>
                            <button id="flow-btn81" ng-disabled="saving" class="btn btn-xs btn-danger pull-right" ng-click="deleteFile(file)" ng-show="file.isComplete()">
                              <span translate="buttons.delete">Delete</span>
                            </button>
                            <button id="flow-btn82" class="btn btn-xs btn-info pull-right" ng-click="file.retry()" ng-show="file.error">
                              <span translate="buttons.retry">Retry</span>
                            </button>
                            <button id="flow-btn83" class="btn btn-xs btn-success pull-right" ng-click="file.resume()" ng-show="file.paused">
                              <span translate="buttons.continue">Continue</span>
                            </button>
                            <button id="flow-btn84" class="btn btn-xs btn-warning pull-right" ng-click="file.pause()" ng-show="!file.paused && file.isUploading()">
                              <span translate="buttons.pause">Pause</span>
                            </button>
                            <button id="flow-btn85" class="btn btn-xs btn-success pull-right" ng-click="$flow.upload()" ng-show="!file.isUploading()&&!file.isComplete()&&!file.paused">
                              <span translate="buttons.upload">upload</span>
                            </button>
                          </div>
                        </div>
                        <div class="progress progress-striped pts mbm" ng-class="{active: file.isUploading()}">
                          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                            <span class="sr-only ng-binding">1% Complete</span>
                          </div>
                        </div>
                        <div class="pts pbs text-danger" ng-show="uploadFileError">
                          <span >{{vm.selectTypeInfo.content}}上传失败！</span>
                        </div>
                      </div>
                    </div>

            </div>

            <div class="tab-pane" id="file-chooser-course-pane">
                <div id="file-browser" data-role="course-file-browser" data-url="/uploadfile/browsers?targetType=coursematerial&amp;targetId=26" data-empty="暂无文件，请先上传。" data-widget-cid="widget-4" class="file-browser"><div class="empty">暂无文件，请先上传。</div></div>
            </div>

            <div class="tab-pane" id="file-chooser-link-pane">

              <div class="form-group" style="margin-bottom:0px;">
                <div class="col-md-12 controls">
                  <input type="text" class="form-control" name="link" placeholder="资料链接地址">
                  <div class="help-block"></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>      <input type="hidden" name="fileId">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-10 col-md-offset-1 controls">
            <textarea class="form-control" name="description" rows="2" placeholder="填写资料简介 (可选)"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-10 col-md-offset-1 controls">
            <button class="btn btn-primary" id="material-upload-btn" type="submit">添加</button>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="f08a6e5668396ab1cdc86d2cde407973f15152b2">

      </form>

</div>
      </div>
