<div class="es-bar hidden-xs" data-widget-cid="widget-0">

  <!-- 左侧列表 -->
  <div class="es-bar-menu">
  <ul class="bar-menu-top">
        <li data-id="#bar-user-center" class="bar-user">
    <a href="javascript:;">学<br>习<br>中<br>心
          </a>
  </li>
    <li data-id="#bar-homework" data-toggle="tooltip" data-placement="left" title="" data-original-title="我的考试/作业"><a href="javascript:;" data-url="/esbar/my/practice/reviewing"><i class="es-icon es-icon-edit"></i></a></li>    <li data-id="#bar-course-list" data-toggle="tooltip" data-placement="left" title="" data-original-title="我的课程/专业"><a href="javascript:;" data-url="/esbar/my/course"><i class="es-icon es-icon-book"></i></a></li>      <li data-id="#bar-message" data-toggle="tooltip" data-placement="left" title="" data-original-title="通知">
    <a href="javascript:;" data-url="/esbar/my/notify">
              <i class="es-icon es-icon-notifications"></i>
          </a>
  </li>
  </ul>
  <ul class="bar-menu-sns">
            <li class="popover-btn bar-qq-btn" data-container=".bar-qq-btn" data-title="QQ客服及QQ群" data-content-element="#bar-qq-content" data-original-title="" title="">
    <a><i class="es-icon es-icon-qq"></i></a>
  </li>
        <li class="popover-btn bar-phone-btn" data-container=".bar-phone-btn" data-title="电话客服" data-content-element="#bar-phone-content" data-original-title="" title="">
    <a><i class="es-icon es-icon-phone"></i></a>
  </li>
        <li class="popover-btn bar-weixin-btn" data-container=".bar-weixin-btn" data-content-element="#bar-weixin-content" data-original-title="" title="">
    <a><i class="es-icon es-icon-weixin"></i></a>
  </li>

          <li data-toggle="tooltip" data-placement="left" title="" data-original-title="手机端">
        <a href="/mobile/" target="_blank"><i class="es-icon es-icon-phone1"></i></a>
      </li>
        <li class="go-top" style="margin:-10px auto 0 auto;" data-toggle="tooltip" data-placement="left" title="" data-original-title="回到顶端">
      <a href="javascript:;">
        <i class="es-icon es-icon-keyboardarrowup" style="margin-bottom:-8px"></i>
        <span class="text-sm">TOP</span>
      </a>
    </li>
  </ul>
</div>
  <!-- 列表内容 -->
      <!-- 通知 -->
    <div class="es-bar-main" id="bar-message">
      <div class="bar-main-header">
  <a href="javascript:;" class="js-bar-shrink link-light"><i class="es-icon es-icon-arrowforward"></i></a>
      通知
</div>

<div class="bar-main-body">
    <ul class="bar-message">

      </ul>
</div>
    </div>

    <!-- 考试/作业 -->
    <div class="es-bar-main" id="bar-homework">
      <div class="bar-main-header">
  <a href="javascript:;" class="js-bar-shrink link-light"><i class="es-icon es-icon-arrowforward"></i></a>
      我的考试/作业
</div>

<div class="bar-main-body">
    <div class="text-center">
    <div class="btn-group btn-action">
      <a href="javascript:;" data-url="/esbar/my/practice/reviewing" class="btn btn-primary active" id="bar-practice-review">已提交</a>
      <a href="javascript:;" data-url="/esbar/my/practice/finished" class="btn btn-primary " id="bar-practice-finish"><span>已批阅</span></a>
    </div>
  </div>
  <div class="bar-homework">

      </div>
</div>
    </div>

    <!-- 课程/班级 -->
    <div class="es-bar-main" id="bar-course-list">
      <div class="bar-main-header">
  <a href="javascript:;" class="js-bar-shrink link-light"><i class="es-icon es-icon-arrowforward"></i></a>
    我的课程/专业
</div>

<div class="bar-main-body">
    <div class="text-center">
    <div class="btn-group btn-action">
      <a href="javascript:;" data-url="/esbar/my/course" class="btn btn-primary active" id="bar-course-btn">课程</a>
      <a href="javascript:;" data-url="/esbar/my/classroom" class="btn btn-primary " id="bar-classroom-btn">专业</a>
    </div>
  </div>

  <div id="bar-my-course">
          </div>
</div>
    </div>

    <!-- 学习中心 -->
    <div class="es-bar-main" id="bar-user-center">
      <div class="bar-main-header">
  <a href="javascript:;" class="js-bar-shrink link-light"><i class="es-icon es-icon-arrowforward"></i></a>
      学习中心
</div>

<div class="bar-main-body">
    <!-- 用户 -->
  <div class="bar-user-center">
  <a target="_blank" href="/my/courses/learning"><img class="avatar-md" src="/user-avatar/ca0bc450c4c0f6f1c28a9ef26df47942.jpg"></a>
  <p>teacher</p>
</div>

  <!-- 直播预告 -->

  <!-- 学习任务 -->
  <div class="text-line gray small">
  <h5><span>学习任务</span></h5>
  <div class="line"></div>
</div>

  <span class=""></span>暂未发现还有未学习课时。<a href="/mooc/course/explore">去逛逛&gt;&gt;</a>


</div>
    </div>

    <!-- 学习历史 -->


      <div class="bar-popover-content" style="display:none;">
    <div id="bar-qq-content">


      <div class="row">
                  <div class="col-xs-6 mbm">
            <p class="text-overflow">
              <img class="mrs" src="/content/img/bar_qq_group.png" alt="">
              EduSoho-官方群
            </p>

                          <p class="text-overflow">
                280645300
              </p>


          </div>
                  <div class="col-xs-6 mbm">
            <p class="text-overflow">
              <img class="mrs" src="/content/img/bar_qq_group.png" alt="">
              在线教育运营干货群
            </p>

                          <p class="text-overflow">
                264786206
              </p>


          </div>
              </div>
    </div>

    <div id="bar-phone-content">
              <p class="mtm"><i class="es-icon es-icon-accesstime mrm"></i>工作时间： 9:00 - 18:00</p>
                    <p class="mtm"><i class="es-icon es-icon-phone mrm"></i>杭州阔知网络科技有限公司： 0571-28022356</p>
              <p class="mtm"><i class="es-icon es-icon-phone mrm"></i>杭州阔知网络科技有限公司： 0571-28022357</p>
              <p class="mtm"><i class="es-icon es-icon-phone mrm"></i>阔知网络北京分公司： 18814881999</p>
                    <p class="mtm"><i class="es-icon es-icon-mail mrm"></i>邮箱： <a class="link-light" href="mailto:qiqiuyu@edusoho.com">qiqiuyu@edusoho.com</a></p>
          </div>

          <div id="bar-weixin-content">
        <img width="110" class="img-responsive" src="/content/images/webchat.jpg" alt="">
      </div>
      </div>

</div>
