<div>
    <h2 data-translate="zonesionCloudApplicationApp.courseLessonNote.home.title">Course Lesson Notes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="course-lesson-note.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="zonesionCloudApplicationApp.courseLessonNote.home.createLabel">
                        Create new Course Lesson Note
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseId"><span data-translate="zonesionCloudApplicationApp.courseLessonNote.courseId">Course Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="zonesionCloudApplicationApp.courseLessonNote.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span data-translate="zonesionCloudApplicationApp.courseLessonNote.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="length"><span data-translate="zonesionCloudApplicationApp.courseLessonNote.length">Length</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="likeNum"><span data-translate="zonesionCloudApplicationApp.courseLessonNote.likeNum">Like Num</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPrivate"><span data-translate="zonesionCloudApplicationApp.courseLessonNote.isPrivate">Is Private</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseLesson.title"><span data-translate="zonesionCloudApplicationApp.courseLessonNote.courseLesson">Course Lesson</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="courseLessonNote in vm.courseLessonNotes track by courseLessonNote.id">
                    <td><a ui-sref="course-lesson-note-detail({id:courseLessonNote.id})">{{courseLessonNote.id}}</a></td>
                    <td>{{courseLessonNote.courseId}}</td>
                    <td>{{courseLessonNote.userId}}</td>
                    <td>{{courseLessonNote.content}}</td>
                    <td>{{courseLessonNote.length}}</td>
                    <td>{{courseLessonNote.likeNum}}</td>
                    <td>{{courseLessonNote.isPrivate}}</td>
                    <td>
                        <a ui-sref="course-lesson-detail({id:courseLessonNote.courseLesson.id})">{{courseLessonNote.courseLesson.title}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="course-lesson-note-detail({id:courseLessonNote.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course-lesson-note.edit({id:courseLessonNote.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course-lesson-note.delete({id:courseLessonNote.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
