@charset "UTF-8";
/*
定义的样式
*/
/*
* * 公共样式
*/
* {
  margin: 0;
  padding: 0; }

.default-bg-color {
  background-color: #fff; }

body {
  outline: none !important; }

.navbar ul li a {
  color: #333; }

.outline-none {
  outline: none; }

.btn {
  border-radius: 4px; }

.swiper-container {
  width: 100%;
  margin: 0 auto; }
  .swiper-container ol {
    position: absolute;
    bottom: 30px;
    z-index: 100;
    width: 100%;
    text-align: center; }
    .swiper-container ol li {
      font-size: 0;
      margin: 0 10px;
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      border: 2px solid #fff; }
    .swiper-container ol li.seleted {
      background: #fff;
      opacity: 1; }
