@charset "UTF-8";
/*
定义的样式
*/
/*
* * 公共样式
*/
.default-bg-color {
  background-color: #fff; }

body {
  outline: none !important; }

.navbar ul li a {
  color: #333; }

.outline-none {
  outline: none; }

.btn {
  border-radius: 4px; }
