.icon-search {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../img/search.png) no-repeat; }

.course-detail-header {
  position: relative; }
  .course-detail-header .course-header-info {
    height: 100%; }
    .course-detail-header .course-header-info .goals {
      font-size: 13px;
      text-align: left; }
  .course-detail-header .left-info {
    position: absolute;
    bottom: 0px;
    font-size: 13px; }

.course-list .clearfix {
  outline: none; }

.no-students {
  text-align: center;
  margin: 30px; }
