@charset "UTF-8";
/*
定义的样式
*/
/*
* * 公共样式
*/
* {
  margin: 0;
  padding: 0; }

.default-bg-color {
  background-color: #fff; }

body {
  outline: none !important; }

.navbar ul li a {
  color: #333; }

.outline-none {
  outline: none; }

.btn {
  border-radius: 4px; }

.swiper-container {
  width: 100%;
  margin: 0 auto; }
  .swiper-container ol {
    position: absolute;
    bottom: 30px;
    z-index: 100;
    width: 100%;
    text-align: center; }
    .swiper-container ol li {
      font-size: 0;
      margin: 0 10px;
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      border: 2px solid #fff; }
    .swiper-container ol li.seleted {
      background: #fff;
      opacity: 1; }

.navbar-header a {
  padding-left: 0px; }
  .navbar-header a img {
    margin-top: 6px; }

.last-col {
  overflow: hidden; }

.ptn, .pvn, .pan {
  padding-top: 0; }

.ptxs {
  padding-top: 7px; }

.ptx, .pvx, .pax {
  padding-top: 3px; }

.pts, .pvs, .pas {
  padding-top: 5px; }

.ptm, .pvm, .pam {
  padding-top: 10px; }

.ptl, .pvl, .pal {
  padding-top: 20px; }

.prn, .phn, .pan {
  padding-right: 0; }

.prx, .phx, .pax {
  padding-right: 3px; }

.prs, .phs, .pas {
  padding-right: 5px; }

.prxs {
  padding-right: 8px; }

.prm, .phm, .pam {
  padding-right: 10px; }

.prl, .phl, .pal {
  padding-right: 20px; }

.pbn, .pvn, .pan {
  padding-bottom: 0; }

.pbx, .pvx, .pax {
  padding-bottom: 3px; }

.pbs, .pvs, .pas {
  padding-bottom: 5px; }

.pbm, .pvm, .pam {
  padding-bottom: 10px; }

.pbl, .pvl, .pal {
  padding-bottom: 20px; }

.pln, .phn, .pan {
  padding-left: 0; }

.plx, .phx, .pax {
  padding-left: 3px; }

.pls, .phs, .pas {
  padding-left: 5px; }

.plxs {
  padding-left: 8px; }

.plm, .phm, .pam {
  padding-left: 10px; }

.pll, .phl, .pal {
  padding-left: 20px; }

.plxxl {
  padding-left: 50px; }

.mtn, .mvn, .man {
  margin-top: 0px; }

.mtx, .mvx, .max {
  margin-top: 3px; }

.mts, .mvs, .mas {
  margin-top: 5px; }

.mtm, .mvm, .mam {
  margin-top: 10px; }

.mtxm {
  margin-top: 12px; }

.mtl, .mvl, .mal {
  margin-top: 20px; }

.mtsv, .mvsv, .masv {
  margin-top: 70px; }

.mrn, .mhn, .man {
  margin-right: 0px; }

.mrx, .mhx, .max {
  margin-right: 3px; }

.mrs, .mhs, .mas {
  margin-right: 5px; }

.mrm, .mhm, .mam {
  margin-right: 10px; }

.mrl, .mhl, .mal {
  margin-right: 20px; }

.mrsl {
  margin-right: 15px; }

.mbn, .mvn, .man {
  margin-bottom: 0px; }

.mbx, .mvx, .max {
  margin-bottom: 3px; }

.mbs, .mvs, .mas {
  margin-bottom: 5px; }

.mbm, .mvm, .mam {
  margin-bottom: 10px; }

.mbl, .mvl, .mal {
  margin-bottom: 20px; }

.mbsl {
  margin-bottom: 15px; }

.mbxl {
  margin-bottom: 30px; }

.mln, .mhn, .man {
  margin-left: 0px; }

.mlx, .mhx, .max {
  margin-left: 3px; }

.mls, .mhs, .mas {
  margin-left: 5px; }

.mlm, .mhm, .mam {
  margin-left: 10px; }

.mll, .mhl, .mal {
  margin-left: 20px; }

.ptb, .pvb, .pab {
  padding-top: 15px; }

.prb, .phb, .pab {
  padding-right: 15px; }

.pbb, .pvb, .pab {
  padding-bottom: 15px; }

.plb, .phb, .pab {
  padding-left: 15px; }

.mtb, .mvb, .mab {
  margin-top: 15px; }

.mrb, .mhb, .mab {
  margin-right: 15px; }

.mbb, .mvb, .mab {
  margin-bottom: 15px; }

.mlb, .mhb, .mab {
  margin-left: 15px; }

.mre, .mhe, .mae {
  margin-right: 18px; }

.pre, .phe, .pae {
  padding-right: 18px; }

.icon-search {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../img/search.png) no-repeat; }

.course-detail-header {
  position: relative; }
  .course-detail-header .course-header-info {
    height: 100%; }
    .course-detail-header .course-header-info .goals {
      font-size: 13px;
      text-align: left; }
  .course-detail-header .left-info {
    position: absolute;
    bottom: 0px;
    font-size: 13px; }

.course-list .clearfix {
  outline: none; }

.no-students {
  text-align: center;
  margin: 30px; }

.short-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/*
定义的样式
*/
.vis-filter-container {
  height: 100%;
  background-color: transparent;
  position: relative; }
  .vis-filter-container.filter-list {
    overflow: auto; }
  .vis-filter-container .filter-title {
    position: relative;
    width: 100%;
    top: 0; }
    .vis-filter-container .filter-title .select-all {
      position: absolute;
      right: 10px; }
  .vis-filter-container > div.filter-content {
    height: 36px;
    background-color: transparent; }
    .vis-filter-container > div.filter-content.filter-list {
      overflow: auto;
      height: auto;
      max-height: 100%; }
    .vis-filter-container > div.filter-content .ui-select-container {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden; }

.multiSelect {
  display: block;
  height: 100%;
  /* ! vertical layout */
  /* ! horizontal layout */
  /* ! create a "row" */
  /* ! create a "column" */
  /* ! */
  /* the multiselect button */
  /* button: disabled */
  /* button: clicked */
  /* labels on the button */
  /* downward pointing arrow */
  /* the main checkboxes and helper layer */
  /* container of helper elements */
  /* helper buttons (select all, none, reset); */
  /* clear button */
  /* filter */
  /* helper elements on hover & focus */
  /* container of multi select items */
  /* ! to show / hide the checkbox layer above */
  /* item labels */
  /* Styling on selected items */
  /* item labels focus on mouse hover */
  /* item labels focus using keyboard */
  /* change mouse pointer into the pointing finger */
  /* ! group labels */
  /* right-align the tick mark (&#10004;) */
  /* hide the original HTML checkbox away */
  /* checkboxes currently disabled */
  /* If you use images in button / checkbox label, you might want to change the image style here. */ }
  .multiSelect .vertical {
    float: none; }
  .multiSelect .horizontal:not(.multiSelectGroup) {
    float: left; }
  .multiSelect .line {
    padding: 2px 0px 4px 0px;
    max-height: 30px;
    overflow: hidden;
    box-sizing: content-box; }
  .multiSelect .acol {
    display: inline-block;
    min-width: 12px; }
  .multiSelect .inlineBlock {
    display: inline-block; }
  .multiSelect > button {
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
    border: 1px solid #bdc3c7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    white-space: normal;
    background-color: transparent;
    outline-style: none;
    width: 100%;
    height: 100%;
    padding-right: 16px;
    font-size: 12px;
    padding-left: 9px; }
  .multiSelect > button:disabled {
    background-image: linear-gradient(#fff, #fff);
    border: 1px solid #ddd;
    color: #999; }
  .multiSelect .buttonClicked {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }
  .multiSelect .buttonLabel {
    display: inline-block;
    padding: 5px 0px 5px 0px; }
  .multiSelect .caret {
    border-top: 6px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px; }
  .multiSelect .checkboxLayer {
    background-color: #fff;
    position: absolute;
    z-index: 999;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    min-width: 278px;
    display: none !important;
    width: 100%; }
  .multiSelect .helperContainer {
    border-bottom: 1px solid #ddd;
    padding: 8px 8px 0px 8px; }
  .multiSelect .reset {
    float: right; }
  .multiSelect .helperButton:not(.reset) {
    margin-right: 4px; }
  .multiSelect .clearButton {
    position: absolute;
    display: inline;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    height: 22px;
    width: 22px;
    font-size: 13px;
    border-radius: 2px;
    color: #666;
    background-color: #f1f1f1;
    line-height: 1.4;
    right: 2px;
    top: 4px; }
  .multiSelect .inputFilter {
    border-radius: 2px;
    border: 1px solid #ccc;
    height: 26px;
    font-size: 14px;
    width: 100%;
    padding-left: 7px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    color: #888;
    margin: 0px 0px 8px 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .multiSelect .clearButton:hover,
  .multiSelect .helperButton:hover {
    border: 1px solid #ccc;
    color: #999;
    background-color: #f4f4f4; }
  .multiSelect .helperButton:disabled {
    color: #ccc;
    border: 1px solid #ddd; }
  .multiSelect .clearButton:focus,
  .multiSelect .helperButton:focus,
  .multiSelect .inputFilter:focus {
    border: 1px solid #66AFE9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.065), 0 0 5px rgba(102, 175, 233, 0.6) !important;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.065), 0 0 5px rgba(102, 175, 233, 0.6) !important; }
  .multiSelect .checkBoxContainer {
    display: block;
    overflow: auto;
    position: relative;
    max-height: 250px; }
  .multiSelect .show {
    display: block !important; }
  .multiSelect .multiSelectItem {
    display: block;
    padding: 3px;
    color: #444;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    position: relative;
    min-width: 258px;
    min-height: 32px; }
  .multiSelect .multiSelectItem:not(.multiSelectGroup).selected {
    background-color: rgba(226, 249, 252, 0.5);
    color: #00bcd4;
    cursor: pointer;
    border-top: 1px solid #ffffff; }
  .multiSelect .multiSelectItem .acol label {
    display: inline-block;
    padding-right: 30px;
    margin: 0px;
    font-weight: normal;
    line-height: normal; }
  .multiSelect .multiSelectItem:hover,
  .multiSelect .multiSelectGroup:hover {
    background-color: rgba(226, 249, 252, 0.5);
    color: #555;
    cursor: pointer;
    border-top: 1px solid #ffffff; }
  .multiSelect .multiSelectFocus {
    background-color: rgba(226, 249, 252, 0.5);
    color: #555;
    cursor: pointer;
    border-top: 1px solid #ffffff; }
  .multiSelect .multiSelectItem span:hover,
  .multiSelect .multiSelectGroup span:hover {
    cursor: pointer; }
  .multiSelect .multiSelectGroup {
    display: block;
    clear: both; }
  .multiSelect .tickMark {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 7px;
    font-size: 10px; }
  .multiSelect .checkbox {
    color: #ddd !important;
    position: absolute;
    left: -9999px;
    cursor: pointer; }
  .multiSelect .disabled,
  .multiSelect .disabled:hover,
  .multiSelect .disabled label input:hover ~ span {
    color: #c4c4c4 !important;
    cursor: not-allowed !important; }
  .multiSelect img {
    vertical-align: middle;
    margin-bottom: 0px;
    max-height: 22px;
    max-width: 22px; }

.filter-list-view .multiSelect {
  display: block;
  height: 100%;
  height: 34px;
  /* ! vertical layout */ }
  .filter-list-view .multiSelect .vertical {
    float: none; }

.filter-content {
  height: 34px;
  border-radius: 4px; }
  .filter-content .multiSelect > button {
    text-align: left; }

.lesson-list .item-chapter {
  position: relative; }

.lesson-list .item-lesson {
  position: relative; }

.lesson-list .item-actions {
  top: 0px; }

.flow-drop {
  padding: 15px;
  border: 2px dashed #C7C7C7;
  border-radius: 5px;
  line-height: 34px; }

.file-manage-panel .action label.mbm {
  margin-bottom: 10px; }

.user-setting .setting-body {
  width: 100px; }
  .user-setting .setting-body img {
    border-radius: 50%;
    width: 60px; }

.user-setting .avatar-jcrop {
  width: 100%; }
  .user-setting .avatar-jcrop .ng-jcrop .ng-jcrop-image-wrapper {
    padding: 10px;
    background: #eee;
    border-radius: 4px;
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    margin-right: 30px; }
  .user-setting .avatar-jcrop .ng-jcrop .ng-jcrop-thumbnail-wrapper {
    height: 140px !important;
    height: 140px !important;
    padding-top: 25px;
    display: inline-block; }
    .user-setting .avatar-jcrop .ng-jcrop .ng-jcrop-thumbnail-wrapper img {
      width: 90px !important;
      height: 90px !important;
      border-radius: 50%; }

.user-setting .avatar-buttons {
  margin-left: 220px;
  margin-top: 20px; }

.toolbar-open .toolbar-nav li {
  outline: 0; }

.lesson-dashboard .toolbar-nav-stacked {
  margin-top: 30px; }

.lesson-dashboard .dashboard-content .dashboard-body .lesson-content video {
  width: 100%;
  height: 100%; }

.lesson-dashboard .dashboard-content .dashboard-body .lesson-content audio {
  width: 30%;
  height: 60px;
  margin-left: 35%;
  margin-top: 150px; }

.lesson-dashboard .lesson-content-text-body {
  min-height: 100%; }

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
  background-color: #a00;
  box-shadow: 0 0 10px #888;
  left: -3.5em;
  moz-box-shadow: 0 0 10px #888;
  moz-transform: rotate(-45deg);
  ms-transform: rotate(-45deg);
  o-transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 40px;
  transform: rotate(-45deg);
  webkit-box-shadow: 0 0 10px #888;
  webkit-transform: rotate(-45deg);
  white-space: nowrap;
  width: 15em;
  z-index: 9999;
  pointer-events: none; }

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
  pointer-events: none; }

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
  font-size: 10px;
  color: #d6d1c6; }

/* ==========================================================================
navbar text
========================================================================== */
.navbar-default .navbar-brand {
  color: #d6d1c6; }

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
  padding: 6px 15px; }

.logo .logo-img {
  height: 45px;
  display: inline-block; }

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px; }

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px; }

/* ==========================================================================
Generic styles
========================================================================== */
.error {
  color: white;
  background-color: red; }

.pad {
  padding: 10px; }

.break {
  white-space: normal;
  word-break: break-all; }

.voffset {
  margin-top: 2px; }

.voffset1 {
  margin-top: 5px; }

.voffset2 {
  margin-top: 10px; }

.voffset3 {
  margin-top: 15px; }

.voffset4 {
  margin-top: 30px; }

.voffset5 {
  margin-top: 40px; }

.voffset6 {
  margin-top: 60px; }

.voffset7 {
  margin-top: 80px; }

.voffset8 {
  margin-top: 100px; }

.voffset9 {
  margin-top: 150px; }

.readonly {
  background-color: #eee;
  opacity: 1; }

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a {
  color: #1c0cf5; }

a:hover, .hand, [jh-sort-by] {
  cursor: pointer; }

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
  top: inherit;
  display: block;
  font-size: 10px;
  max-width: 1024px; }

#healthCheck .popover {
  margin-left: -50px; }

.health-details {
  min-width: 400px; }

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px; }

.point:last {
  margin: 0 !important; }

.point {
  background: #DDD;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 20px; }

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
  text-overflow: ellipsis; }

.alert pre {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0; }

.alert .popover pre {
  font-size: 10px; }

.alerts .toast {
  position: fixed;
  width: 100%; }

.alerts .toast.left {
  left: 5px; }

.alerts .toast.right {
  right: 5px; }

.alerts .toast.top {
  top: 55px; }

.alerts .toast.bottom {
  bottom: 55px; }

@media screen and (min-width: 480px) {
  .alerts .toast {
    width: 50%; } }

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding {
  padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
  width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.jh-table > tbody > tr > td {
  /* Align text in td vertically (top aligned by Bootstrap) */
  vertical-align: middle; }

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
  /* less visible sorting icons */
  opacity: 0.5; }

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
  /* full visible sorting icons and pointer when mouse is over them */
  opacity: 1;
  cursor: pointer; }

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
  margin-bottom: 15px; }

@media screen and (min-width: 768px) {
  .dl-horizontal.jh-entity-details > dt {
    margin-bottom: 15px; }
  .dl-horizontal.jh-entity-details > dd {
    border-bottom: 1px solid #eee;
    padding-left: 180px;
    margin-left: 0; } }

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
  border: 0; }

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
  outline: none; }

/* jhipster-needle-css-add-main JHipster will add new css style */
.footer {
  background: #333;
  color: #e7e7e7;
  font-size: 18px;
  padding: 15px 0;
  text-align: center; }

.navbar-default {
  background-color: #333;
  border-color: #e7e7e7; }
