 <div class="es-wrap">
	<div id="content-container" class="container">

		<div class="clearfix course-detail-header-join">

			<div class="course-header-img ">
				<a href="/course/6"><img class="img-responsive"
					ng-src="{{vm.courses.coverPicture}}"></a>
			</div>

			<ul class="course-data clearfix">
				<li id="unfavorite-btn" data-toggle="tooltip" data-placement="top"
					data-original-title="取消收藏" data-url="/course/6/unfavorite"
					style="display: none;"><a href="javascript:;"
					class="color-primary">
						<p>
							<i class="es-icon es-icon-bookmark"></i>
						</p>

				</a></li>

				<li id="favorite-btn" data-toggle="tooltip" data-placement="top"
					data-original-title="收藏课程" data-url="/course/6/favorite"><a
					href="javascript:;">
						<p>
							<i class="es-icon es-icon-bookmarkoutline"></i>
						</p>

				</a></li>

				<li><span class="es-share top"> <a
						class="dropdown-toggle" href="" data-toggle="dropdown">
							<p>
								<i class="es-icon es-icon-share"></i>
							</p>
					</a>

						<div class="dropdown-menu  js-social-share-params"
							data-title="EduSoho慕课版介绍" data-summary=""
							data-message="我正在学习《EduSoho慕课版介绍》，收获巨大哦，一起来学习吧！"
							data-url="http://www.edusoho.com/course/6"
							data-picture="/files/default/2015/06-09/112013d1dd0e409854.png?1.4.8">

							<a href="javascript:;" class="js-social-share" data-cmd="weixin"
								title="分享到微信" data-share="weixin"
								data-qrcode-url="/common/qrcode?text=http%3A%2F%2Fwww.edusoho.com%2Fcourse%2F6"><i
								class="es-icon es-icon-weixin"></i></a> <a href="javascript:;"
								class="js-social-share" data-cmd="tsina" title="分享到新浪微博"
								data-share="weibo"><i class="es-icon es-icon-weibo"></i></a> <a
								href="javascript:;" class="js-social-share" data-cmd="qq"
								title="分享到QQ好友" data-share="qq"><i
								class="es-icon es-icon-qq"></i></a> <a href="javascript:;"
								class="js-social-share" data-cmd="qzone" title="分享到QQ空间"
								data-share="qzone"><i class="es-icon es-icon-qzone"></i></a>

						</div>
				</span></li>

			</ul>
			<div class="course-header-info">
				<div class="title clearfix">
					<span><a href="">{{vm.courses.title}}</a></span> <span
						class="es-qrcode top" data-url="/course/6/qrcode"> <i
						class="es-icon es-icon-qrcode"></i> <span class="qrcode-popover">
							<img ng-src="" alt=""> 扫二维码继续学习
					</span>
					</span>
				</div>

				<div class="metas hidden-xs hidden-sm">
					<p class="student-num ">
						<label for="">学员人数：</label><span class="text-primary">
							{{vm.countUsers}}人</span>
					</p>
				</div>
				<div class="content"></div>
			</div>

			<div class="progress progress-sm">
				<div class="progress-bar" role="progressbar" style="width: 7%"
					data-toggle="tooltip" data-placement="right" title="7%"></div>
			</div>

			<div class="course-btn-join">
				<a class="" href="/course/6/learn#lesson/52">继续学习</a>
			</div>
			<a class="tooltop pull-right" href="/course/6/manage"
				data-role="tooltip" title="课程管理" data-placement="top"> <i
				class="icon icon-setting"></i>
			</a>

		</div>


		<div class="course-about clearfix">
			<div class="course-about-main">

				<div class="course-detail">

					<div class="nav-btn-tab">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="/course/6">课时</a></li>
							<li role="presentation"><a href="/course/6/thread">讨论区</a></li>
							<li role="presentation"><a href="/course/6/material/">资料区</a></li>
							<li role="presentation"><a href="/course/6/reviews/">评价</a>
							</li>
							<li role="presentation"><a href="/course/6/notes">笔记</a></li>
							<li role="presentation"><a href="/course/6/info">概览</a></li>

						</ul>

						<div class="btnbar hidden-xs">
							<a href="#modal" data-toggle="modal"
								data-url="/announcement/course/6/create" class="btn btn-link">
								<i class="es-icon es-icon-anonymous-iconfont"></i> 公告
							</a>
						</div>
					</div>
					<div class="course-detail-content">


						<div class="es-piece">
							<div class="piece-header">课时列表</div>
							<div class="piece-body" ng-repeat="courses in vm.allcourses">
								<ul class="period-list" id="course-item-list">
									<li class="chapter clearfix" ng-if="courses.chapterType == 0">
										<i class="es-icon es-icon-toc"></i> <span class="title">第{{courses.chapterNumber}}章：{{courses.chapterTitle}}</span>
										<span class="period-show"><i
											class="es-icon es-icon-remove"></i></span>
									</li>
									<li class="section" ng-if="courses.chapterType == 1"><span
										class="title"> 第{{courses.chapterSeq}}节：
											{{courses.chapterTitle}} </span></li>
									<li class="period lesson-item lesson-item-63"
										ng-if="courses.courseLessonTitle != null"><a
										href="/course/6/learn#lesson/63"> <i
											class="es-icon es-icon-done1 color-primary status-icon"></i>
											{{courses.courseLessonTitle}} <span class="date"
											title="视频时长01:19">01:19</span> <span class="course-type">
												<i class="es-icon es-icon-videoclass" data-toggle="tooltip"
												data-placement="top" title="视频课程"></i>
										</span>
									</a></li>
							</div>
						</div>

					</div>

				</div>
			</div>
			<div class="course-about-sidebar">
				<div class="es-panel teacher-column">
					<div class="panel-heading clearfix">
						任课老师<span class="teacher-icon"></span>
					</div>
					<div class="panel-body">
						<ul>
							<li>
								<div class="teacher-top clearfix">
									<div class="avatar">
										<a href="/user/1"><img ng-src="{{vm.courses.userAvatar}}"></a>
									</div>
									<div class="teacher-name">
										<a href="/user/1">{{vm.courses.userName}}</a>
									</div>
									<div class="teacher-position">{{vm.courses.userSex}}</div>
								</div>
								<div class="teacher-about">
									<p>{{vm.courses.userEmail}}</p>

								</div>
							</li>

						</ul>
					</div>
				</div>

				<div class="es-panel student-column">
					<div class="panel-heading clearfix">
						最新学员<span class="student-icon"></span>
					</div>
					<div class="panel-body">
						<ul  ng-repeat="user in vm.allusers" >
							<li><a class=" js-user-card" href="#/user/{{user.countUserId}}"
								data-card-url="/user/5/card/show" data-user-id="5">
								<img class="avatar-sm" ng-src="{{user.avatar}}">
							</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

<div class="es-bar hidden-xs">

	左侧列表
	<div class="es-bar-menu">
		<ul class="bar-menu-top">
			<li data-id="#bar-user-center" class="bar-user"><a
				href="javascript:;">学<br>习<br>中<br>心
			</a></li>
			<li data-id="#bar-homework" data-toggle="tooltip"
				data-placement="left" title="我的考试/作业"><a href="javascript:;"
				data-url="/esbar/my/practice/reviewing"><i
					class="es-icon es-icon-edit"></i></a></li>
			<li data-id="#bar-course-list" data-toggle="tooltip"
				data-placement="left" title="我的课程/专业"><a href="javascript:;"
				data-url="/esbar/my/course"><i class="es-icon es-icon-book"></i></a></li>
			<li data-id="#bar-message" data-toggle="tooltip"
				data-placement="left" title="通知"><a href="javascript:;"
				data-url="/esbar/my/notify"> <i
					class="es-icon es-icon-notifications"></i>
			</a></li>
		</ul>
		<ul class="bar-menu-sns">
			<li class="popover-btn bar-qq-btn" data-container=".bar-qq-btn"
				data-title="QQ客服及QQ群" data-content-element="#bar-qq-content"><a><i
					class="es-icon es-icon-qq"></i></a></li>
			<li class="popover-btn bar-phone-btn" data-container=".bar-phone-btn"
				data-title="电话客服" data-content-element="#bar-phone-content"><a><i
					class="es-icon es-icon-phone"></i></a></li>
			<li class="popover-btn bar-weixin-btn"
				data-container=".bar-weixin-btn"
				data-content-element="#bar-weixin-content"><a><i
					class="es-icon es-icon-weixin"></i></a></li>

			<li data-toggle="tooltip" data-placement="left" title="手机端"><a
				href="/mobile/" target="_blank"><i
					class="es-icon es-icon-phone1"></i></a></li>
			<li class="go-top" style="margin: -10px auto 0 auto;"
				data-toggle="tooltip" data-placement="left" title="回到顶端"><a
				href="javascript:;"> <i class="es-icon es-icon-keyboardarrowup"
					style="margin-bottom: -8px"></i> <span class="text-sm">TOP</span>
			</a></li>
		</ul>
	</div>
	列表内容
	通知
	<div class="es-bar-main" id="bar-message">
		<div class="bar-main-header">
			<a href="javascript:;" class="js-bar-shrink link-light"><i
				class="es-icon es-icon-arrowforward"></i></a> 通知
		</div>

		<div class="bar-main-body">
			<ul class="bar-message">

			</ul>
		</div>
	</div>

	考试/作业
	<div class="es-bar-main" id="bar-homework">
		<div class="bar-main-header">
			<a href="javascript:;" class="js-bar-shrink link-light"><i
				class="es-icon es-icon-arrowforward"></i></a> 我的考试/作业
		</div>

		<div class="bar-main-body">
			<div class="text-center">
				<div class="btn-group btn-action">
					<a href="javascript:;" data-url="/esbar/my/practice/reviewing"
						class="btn btn-primary active" id="bar-practice-review">已提交</a> <a
						href="javascript:;" data-url="/esbar/my/practice/finished"
						class="btn btn-primary " id="bar-practice-finish"><span>已批阅</span></a>
				</div>
			</div>
			<div class="bar-homework"></div>
		</div>
	</div>

	课程/班级
	<div class="es-bar-main" id="bar-course-list">
		<div class="bar-main-header">
			<a href="javascript:;" class="js-bar-shrink link-light"><i
				class="es-icon es-icon-arrowforward"></i></a> 我的课程/专业
		</div>

		<div class="bar-main-body">
			<div class="text-center">
				<div class="btn-group btn-action">
					<a href="javascript:;" data-url="/esbar/my/course"
						class="btn btn-primary active" id="bar-course-btn">课程</a> <a
						href="javascript:;" data-url="/esbar/my/classroom"
						class="btn btn-primary " id="bar-classroom-btn">专业</a>
				</div>
			</div>

			<div id="bar-my-course"></div>
		</div>
	</div>

	学习中心
	<div class="es-bar-main" id="bar-user-center">
		<div class="bar-main-header">
			<a href="javascript:;" class="js-bar-shrink link-light"><i
				class="es-icon es-icon-arrowforward"></i></a> 学习中心
		</div>

		<div class="bar-main-body">
			用户
			<div class="bar-user-center">
				<a target="_blank" href="/my/courses/learning"><img
					class="avatar-md" src="{{vm.courses.avatar}}"></a>
				<p>{{vm.courses.username}}</p>
			</div>

			直播预告

			学习任务
			<div class="text-line gray small">
				<h5>
					<span>学习任务</span>
				</h5>
				<div class="line"></div>
			</div>

			<span class=""></span>暂未发现还有未学习课时。<a href="/mooc/course/explore">去逛逛>></a>


		</div>
	</div>

	学习历史


	<div class="bar-popover-content" style="display: none;">
		<div id="bar-qq-content">


			<div class="row">
				<div class="col-xs-6 mbm">
					<p class="text-overflow">
						<img class="mrs" ng-src="/content/v2/img/bar_qq_group.png?1.4.8"
							alt=""> EduSoho-官方群
					</p>

					<p class="text-overflow">280645300</p>


				</div>
				<div class="col-xs-6 mbm">
					<p class="text-overflow">
						<img class="mrs" ng-src="/content/v2/img/bar_qq_group.png?1.4.8"
							alt=""> 在线教育运营干货群
					</p>

					<p class="text-overflow">264786206</p>


				</div>
			</div>
		</div>

		<div id="bar-phone-content">
			<p class="mtm">
				<i class="es-icon es-icon-accesstime mrm"></i>工作时间： 9:00 - 18:00
			</p>
			<p class="mtm">
				<i class="es-icon es-icon-phone mrm"></i>杭州阔知网络科技有限公司： 0571-28022356
			</p>
			<p class="mtm">
				<i class="es-icon es-icon-phone mrm"></i>杭州阔知网络科技有限公司： 0571-28022357
			</p>
			<p class="mtm">
				<i class="es-icon es-icon-phone mrm"></i>阔知网络北京分公司： 18814881999
			</p>
			<p class="mtm">
				<i class="es-icon es-icon-mail mrm"></i>邮箱： <a class="link-light"
					href="mailto:qiqiuyu@edusoho.com">qiqiuyu@edusoho.com</a>
			</p>
		</div>

		<div id="bar-weixin-content">
			<img width="110" class="img-responsive"
				ng-src="/files/system/webchat.jpg?1.4.8" alt="">
		</div>
	</div>

</div>




<div id="login-modal" class="modal" data-url="/login/ajax"></div>
<div id="modal" class="modal"></div>
