@import "variables.scss";
/*
* * 公共样式
*/
.default-bg-color{
  background-color: $default-bg-color;
}
// .bar-phone-content{
//   background-color: $default-bg-color
// }
body{
  outline: none!important;
}
.navbar{
  ul{
    li{
      a{
        color: $nav-text-color;
      }
    }
  }
}
.outline-none{
  outline: none;
}
.btn{
    border-radius: 4px;
}
