.filter-content{
  height: 34px;
  border-radius: 4px;
  .multiSelect > button{
    text-align: left;
  }
}
.lesson-list {
  .item-chapter{
    position: relative;
  }
  .item-lesson{
    position: relative;
  }
  .item-actions{
    top:0px;
  }
}
.flow-drop{
  padding: 15px;
  border: 2px dashed #C7C7C7;
  border-radius: 5px;
  line-height: 34px;
}
