.filter-content{
  height: 34px;
  border-radius: 4px;
  .multiSelect > button{
    text-align: left;
  }
}
.lesson-list {
  .item-chapter{
    position: relative;
  }
  .item-lesson{
    position: relative;
  }
  .item-actions{
    top:0px;
  }
}
