// Should be used to modify the default spacing between objects (not between nodes of * the same object)
// p,m = padding,margin
// a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
// x,s,m,l,n = extra-small($x),small($s),medium($m),large($l),none(0px)
$xs: 2px;
$x: 3px;
$s: 5px;
$m: 10px;
$b: 15px;
$l: 20px;
$sv:70px;

.last-col {
  overflow: hidden;
}

.ptn, .pvn, .pan {
  padding-top: 0;
}

.ptxs {
  padding-top: $xs+$s;
}

.ptx, .pvx, .pax {
  padding-top: $x;
}

.pts, .pvs, .pas {
  padding-top: $s;
}

.ptm, .pvm, .pam {
  padding-top: $m;
}

.ptl, .pvl, .pal {
  padding-top: $l;
}

.prn, .phn, .pan {
  padding-right: 0;
}

.prx, .phx, .pax {
  padding-right: $x;
}

.prs, .phs, .pas {
  padding-right: $s;
}
.prxs {
  padding-right: $x + $s;
}
.prm, .phm, .pam {
  padding-right: $m;
}

.prl, .phl, .pal {
  padding-right: $l;
}
.pbn, .pvn, .pan {
  padding-bottom: 0;
}

.pbx, .pvx, .pax {
  padding-bottom: $x;
}

.pbs, .pvs, .pas {
  padding-bottom: $s;
}

.pbm, .pvm, .pam {
  padding-bottom: $m;
}

.pbl, .pvl, .pal {
  padding-bottom: $l;
}

.pln, .phn, .pan {
  padding-left: 0;
}

.plx, .phx, .pax {
  padding-left: $x;
}

.pls, .phs, .pas {
  padding-left: $s;
}
.plxs {
  padding-left: $x + $s;
}
.plm, .phm, .pam {
  padding-left: $m;
}

.pll, .phl, .pal {
  padding-left: $l;
}
.plxxl {
  padding-left: $m + $l + $l;
}
.mtn, .mvn, .man {
  margin-top: 0px;
}

.mtx, .mvx, .max {
  margin-top: $x;
}

.mts, .mvs, .mas {
  margin-top: $s;
}

.mtm, .mvm, .mam {
  margin-top: $m;
}

.mtxm {
  margin-top: $xs+$m;
}

.mtl, .mvl, .mal {
  margin-top: $l;
}

.mtsv, .mvsv, .masv {
  margin-top: $sv;
}

.mrn, .mhn, .man {
  margin-right: 0px;
}

.mrx, .mhx, .max {
  margin-right: $x;
}

.mrs, .mhs, .mas {
  margin-right: $s;
}

.mrm, .mhm, .mam {
  margin-right: $m;
}

.mrl, .mhl, .mal {
  margin-right: $l;
}
.mrsl {
  margin-right: $s + $m;
}
.mbn, .mvn, .man {
  margin-bottom: 0px;
}

.mbx, .mvx, .max {
  margin-bottom: $x;
}

.mbs, .mvs, .mas {
  margin-bottom: $s;
}

.mbm, .mvm, .mam {
  margin-bottom: $m;
}

.mbl, .mvl, .mal {
  margin-bottom: $l;
}
.mbsl {
  margin-bottom: $s + $m;
}
.mbxl {
  margin-bottom: $m + $l;
}
.mln, .mhn, .man {
  margin-left: 0px;
}

.mlx, .mhx, .max {
  margin-left: $x;
}

.mls, .mhs, .mas {
  margin-left: $s;
}

.mlm, .mhm, .mam {
  margin-left: $m;
}

.mll, .mhl, .mal {
  margin-left: $l;
}

.ptb, .pvb, .pab {
  padding-top: $b;
}
.prb, .phb, .pab {
  padding-right: $b;
}
.pbb, .pvb, .pab {
  padding-bottom: $b;
}
.plb, .phb, .pab {
  padding-left: $b;
}
.mtb, .mvb, .mab {
  margin-top: $b;
}
.mrb, .mhb, .mab {
  margin-right: $b;
}
.mbb, .mvb, .mab {
  margin-bottom: $b;
}
.mlb, .mhb, .mab {
  margin-left: $b;
}
.mre, .mhe, .mae{
  margin-right: $x+$s+$m;
}
.pre, .phe, .pae{
  padding-right: $x+$s+$m;
}
