<div class="lesson-content lesson-content-text ps-container" id="lesson-text-content" data-role="lesson-content" style="">
  <div class="lesson-content-text-body"><h4><strong>官方模版定制</strong></h4>

<p>EduSoho拥有灵活强大的tag机制，针对EduSoho进行页面风格和样式的定制。如需官方定制请到官网www.edusoho.com联系官方人员</p>

<p>部分定制客户案例：</p>

<ul>
	<li>E电商：http://school.edianshang.com/</li>
	<li>大山外语：http://www.dashanzx.com/</li>
	<li>理想工场：http://college.lixianggongchang.com/</li>
</ul>

<p>&nbsp;</p>

<h4><strong>官方功能定制</strong></h4>

<p>如需个性化的需求，可与官方人员联系。</p>

<p>部分定制客户案例：</p>

<ul>
	<li>上海立信会计学院：http://v.lixinedu.com.cn/</li>
	<li>萝卜网：http://www.luobo360.com/</li>
	<li>华冠商学院：http://www.hgsxy.com/</li>
</ul>

<p>&nbsp;</p>

<h4><strong>官方代码维护</strong></h4>

<p>一般功能定制后，为避免出现问题，EduSoho主系统的更新就无法同时更新。但EduSoho不断的更新会让您的网校时刻保持最强的产品竞争力，为了保持与EduSoho主系统的升级同步，可以寻求EduSoho官方的代码维护升级服务，具体请联系官方人员。</p>

<p>&nbsp;</p>

<h4><strong>APP定制</strong></h4>

<p>目前，每个EduSoho都拥有免费的移动学习客户端，但为了凸显网校品牌，很多教育机构想以低成本实现自有的网校，EduSoho提供定制app服务，详细请与EduSoho官方客服联系。</p>

<p>案例：APPStore搜索“E电商”</p>

<p>&nbsp;</p>

<h4><strong>自主二次开发</strong></h4>

<p>EduSoho系统具有良好的代码层级及架构，非常易于二次开发，如您有技术人员，可进行插件化开发，开发教程见http://www.qiqiuyu.com/course/explore/developer,可加入开发社区：http://www.qiqiuyu.com/group/5，加入开发群：89120595。</p>
</div>
</div>
